<%- include("../partials/header.ejs") %>

<h1>Delete forest: <%= forest.forest_name %></h1>

<form method="post" action="/delete">
    <label>Name:</label>
    <input type="text" name="f_name" value="<%= forest.forest_name %>" readonly>
    <label>Location:</label>
    <input type="text" name="f_location" value="<%= forest.location %>" readonly>
    <label>Acronym:</label>
    <input type="text" name="f_acronym" value="<%= forest.acronym %>" readonly>
    <label>Area:</label>
    <input type="number" name="f_area" value="<%= forest.area %>" readonly>
    <label>Type:</label>
    <input type="text" name="f_type" value="<%= forest.forest_type %>" readonly>
    <label>Added:</label>
    <input type="date" name="f_added" value="<%= forest.added %>" readonly>

    <input type="submit" value="Delete">
</form>

<%- include("../partials/footer.ejs") %>
