<%- include("../partials/header.ejs") %>
<div class="container">
    <form>
        <select name="selected" onchange="this.form.submit()">
                <option value="">Choose forest...</option>
            <% for (const name of allNames) { %>
                <% let selected = (locals.one && locals.one.acronym == name.acronym) ? "selected" : ""; %>
                <option <%= selected %> value="<%= name.acronym %>"><%= name.forest_name %></option>
            <% } %>
        </select>
    </form>

    <% if (locals.one) { %>
        <table>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Area</th>
                <th>Acronym</th>
                <th>Type</th>
            </tr>

                <tr>
                    <td>
                        <%= one.forest_name %>
                    </td>
                    <td>
                        <%= one.location %>
                    </td>
                    <td>
                        <%= one.area %>
                    </td>
                    <td>
                        <%= one.acronym %>
                    </td>
                    <td>
                        <%= one.forest_type %>
                    </td>
                </tr>

        </table>
        <img class="forest" src="/img/<%= one.acronym %>.jpeg" alt="forest image">
    <% } else { %>
        <h1>No forest selected</h1>
    <% } %>


</div>
<%- include("../partials/footer.ejs") %>
